html,
body {
  margin: 0;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.total-swalath-view {
  color: #646464;
  font-weight: 700;
  font-size: 12px;
}
.total-swalath-view h6 {
  font-size: 12px;
}

.swalath-input {
    height: 50px;
    font-size: 20px;
    font-weight: 700;
}

.form-group span.error {
  font-size: 12px;
}